<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.alkar.projetosa">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".TelaAdmin.CadastroDoacao"></activity>
        <activity android:name=".TelaDoacao" />
        <activity android:name=".TelaAdmin.RemoverMembro" />
        <activity android:name=".TelaAdmin.UpdateEntidade" />
        <activity android:name=".TelaAdmin.RemoverEntidade" />
        <activity android:name=".TelaAdmin.Cadastro_Entidade" />
        <activity android:name=".TelaAdmin.TelaAdmin" />
        <activity android:name=".Home_Imagens_Detalhe" />
        <activity android:name=".RecuperarSenha" />
        <activity android:name=".cadastroSoftplayer" />
        <activity android:name=".Home" />
        <activity android:name=".LoginMain" />
        <activity android:name=".MainImage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>